/*@-moz-document url-prefix("http://localhost:8989/") {*/
    body {
        color: #ccc;
    }

    button {
        line-height: 1;
        border-radius: 8px;
    }

    div.PageContentBody-innerContentBody-V-w79 > div,
    div.PageContentBody-innerContentBody-V-w79 > a,
    div.ModalHeader-modalHeader-1uGvm,
    div.PageHeader-header-JYJAc,
    div.CalendarEvent-seriesTitle-3nGRY,
    div.ModalFooter-modalFooter-3jawm {
        color: #999;
    }
    
    div.SeriesIndexPoster-content-2VTBS > div:last-child,
    div.CalendarDays-days-3nB04 {
        border-radius: 0 0 8px 8px;
    }
    
    a.SeriesIndexPoster-link-2Rucc > img {
        border-radius: 8px 8px 0 0;
    }
    
    div.SeriesIndexPoster-ended-3J4F_,
    div.DaysOfWeek-daysOfWeek-16hC5 > div:last-child {
        border-radius: 0 8px 0 0;
    }
    
    div.DaysOfWeek-daysOfWeek-16hC5 > div:first-child {
        border-radius: 8px 0 0 0;
    }
    
    div.CalendarDays-days-3nB04 > div:first-child {
        border-radius: 0 0 0 8px;
    }
    
    div.CalendarDays-days-3nB04 > div:last-child {
        border-radius: 0 0 8px 0;
    }
    
    div.ModalContent-modalContent-f33n- {
        background-color: #333;
        border-radius: 8px;
        color: #ddd;
    }

    div.CalendarHeader-header-cCEaM,
    li.EpisodeDetailsModalContent-tab-UBMUf,
    fieldset.FieldSet-fieldSet-37M-a > legend,
    button.Button-button-1tAe5,
    div.DaysOfWeek-daysOfWeek-16hC5,
    svg.fa-search,
    svg.fa-user {
        color: #ddd;
    }

    div.CalendarEvent-episodeInfo-azFKq,
    div.CalendarEvent-airTime-3YsgC,
    li.EpisodeDetailsModalContent-tab-UBMUf:not(.EpisodeDetailsModalContent-selectedTab-_FbVg),
    div.ModalBody-innerModalBody-3gO-u {
        color: #999;
    }

    div.PageHeader-header-JYJAc {
        background-color: #06a;
    }

    div.SeriesIndexPoster-title-1h3SR,
    div.PageSidebar-sidebar-20RVF,
    div.PageContentBody-contentBody-1kgeZ,
    div.SeriesIndexPoster-nextAiring-2nqSB {
        background-color: #262833;
    }

    div.SeriesDetailsSeason-season-rsdqF,
    div.SeriesDetailsSeason-collapseButtonContainer-38tta,
    div.PageToolbar-toolbar-WwUGV,
    div.PageJumpBar-jumpBarItems-2NMFr,
    div.PageSidebarItem-item-3Nkst,
    div.PageSidebar-sidebar-20RVF {
        background-color: #2a2f41;
    }

    button.Button-button-1tAe5,
    div.AddNewSeries-searchIconContainer-2rJMO,
    div.DaysOfWeek-daysOfWeek-16hC5 > * {
        background-color: #666;
    }

    div.PageContentBody-contentBody-1kgeZ,
    div.DaysOfWeek-daysOfWeek-16hC5 > *,
    div.CalendarDays-days-3nB04,
    div.CalendarDay-day-1-M7C,
    div.CalendarDays-week-2W1b2,
    button.Button-button-1tAe5 {
        border-color: #666;
    }

    div.CalendarEvent-downloaded-1ZMYd,
    div.CalendarEvent-missing-2Uj6M,
    div.CalendarEvent-unaired-3wyjs,
    div.CalendarEvent-downloading-2dk-4,
    div.CalendarEvent-unmonitored-7tD28,
    div.CalendarEvent-onAir-1YTlC,
    div.LegendIconItem-legendIconItem-QvfzD {
        border: 2px solid;
        border-radius: 8px;
        box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
        font-size: 10px;
        margin: 12px 6px !important;
        padding: 2px 14px;
    }

    div.CalendarEvent-downloaded-1ZMYd {
        background: linear-gradient(90deg, #27c24c 1px, #fff 13px, #fff calc(100% - 13px), #27c24c 100%);
        border-color: #27c24c;
    }

    div.CalendarEvent-missing-2Uj6M {
        background: linear-gradient(90deg, #f05050 1px, #fff 13px, #fff calc(100% - 13px), #f05050 100%);
        border-color: #f05050;
    }

    div.CalendarEvent-unaired-3wyjs {
        background: linear-gradient(90deg, #5d9cec 1px, #fff 13px, #fff calc(100% - 13px), #5d9cec 100%);
        border-color: #5d9cec;
    }

    div.CalendarEvent-downloading-2dk-4 {
        background: linear-gradient(90deg, #7a43b6 1px, #fff 13px, #fff calc(100% - 13px), #7a43b6 100%);
        border-color: #7a43b6;
    }

    div.CalendarEvent-unmonitored-7tD28 {
        background: linear-gradient(90deg, #adadad 1px, #fff 13px, #fff calc(100% - 13px), #adadad 100%);
        border-color: #adadad;
    }

    div.CalendarEvent-onAir-1YTlC {
        background: linear-gradient(90deg, #ffa500 1px, #fff 13px, #fff calc(100% - 13px), #ffa500 100%);
        border-color: #ffa500;
    }

    div.LegendIconItem-legendIconItem-QvfzD {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, #fff 13px, #fff calc(100% - 13px), rgba(255, 255, 255, 0) 100%);
        border-color: #333;
    }
    
    div.PageSidebarItem-isActiveItem-2jsqy {
        background: linear-gradient(90deg, rgb(0, 101, 170) 0, rgb(42, 47, 65) 10%);
        border: 3px solid rgb(0, 101, 170);
    }
    
    div.PageSidebarItem-isActiveItem-2jsqy a,
    div.PageSidebarItem-item-3Nkst > div {
        background-color: transparent;
    }

    div.SeriesIndexPoster-nextAiring-2nqSB {
        color: #fff;
    }

    div.PageToolbar-toolbar-WwUGV,
    div.PageJumpBar-jumpBarItems-2NMFr,
    div.PageSidebarItem-item-3Nkst {
        box-sizing: border-box;
        padding-top: 0;
        min-height: 46px;
    }

    button.PageToolbarButton-toolbarButton-84KD7,
    button.ToolbarMenuButton-menuButton-3ytbC {
        padding: 0;
    }
    
    a.PageSidebarItem-link-vbRsb {
        padding: 15px 24px;
    }

    button.ToolbarMenuButton-menuButton-3ytbC > div {
        margin-top: -15px;
    }

    span.ToolbarMenuButton-indicatorContainer-2pM3g {
        margin-top: -6px;
    }

    button.ToolbarMenuButton-menuButton-3ytbC svg button.PageToolbarButton-toolbarButton-84KD7 svg,
    button.ToolbarMenuButton-menuButton-3ytbC svg {
        font-size: 16px !important;
        margin-top: 6px !important;
    }

    div.PageToolbarButton-label--Qykn {
        display: flex;
        height: 30px;
        align-items: flex-end;
    }

    div.PageToolbar-toolbar-WwUGV {
        height: 52px !important;
    }

    div.PageToolbarButton-label--Qykn {
        font-size: 10px;
    }

    div.PageSidebarItem-item-3Nkst,
    div.PageSidebarItem-link-vbRsb {
        align-items: center;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    div.PageSidebarItem-item-3Nkst > a,
    div.PageSidebarItem-link-vbRsb > a,
    a.PageSidebarItem-link-vbRsb {
        width: 100%;
    }

    div.CalendarEvent-event-2LlSV {
        margin: 0;
    }

    div.LegendIconItem-legendIconItem-QvfzD {
        margin-top: 9px !important;
    }

    button.PageJumpBarItem-jumpBarItem-3V98O {
        border-radius: 0;
        border-bottom: 1px solid #666;
    }
/*}*/