/* ==UserStyle==
@name           Sonarr Dark Mode Enhancements
@namespace      https://github.com/AJCrowley/SonarrDarkMode
@version        2.0.0
@description    Dark mode enhancements for Sonarr
@author         Kris McCann
==/UserStyle== */
/*@-moz-document url-prefix("http://localhost:8989/") {*/
    :root {
        --border-radius: 9px;
        --grey-2: #181A1B;
        --grey-1: #383A3B;
        --icon-green: #27c24c;
        --icon-red: #f05050;
        --icon-blue: #5d9cec;
        --icon-purple: #7a43b6;
        --icon-orange: #ffa500;
        --icon-grey: #adadad;
        --icon-white: rgba(255, 255, 255, 0);
        --shadow-black: rgba(255, 255, 255, 0.15);
    }

    button {
        line-height: 1;
        border-radius: var(--border-radius);
    }

    div.DayOfWeek-dayOfWeek-D4GRS {
        border: 1px #ccc dotted;
    }

    div.ModalContent-modalContent-bdTLe {
        border-radius: var(--border-radius);
    }

    div.CalendarDays-days-bkUmr {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    div.DaysOfWeek-daysOfWeek-DQmbR > div:last-child {
        border-radius: 0 var(--border-radius) 0 0;
    }

    div.DaysOfWeek-daysOfWeek-DQmbR > div:first-child {
        border-radius: var(--border-radius) 0 0 0;
    }

    div.CalendarDays-days-bkUmr > div:first-child {
        border-radius: 0 0 0 var(--border-radius);
    }

    div.CalendarDays-days-bkUmr > div:last-child {
        border-radius: 0 0 var(--border-radius) 0;
    }

    div.LegendItem-legendItem-MGaWB,
    div.LegendIconItem-legendIconItem-HRUQm,
    div.CalendarEvent-event-P9Zg6 {
        border: 2px solid;
        border-radius: var(--border-radius);
        box-shadow: 1px 1px 3px 1px var(--shadow-black);
        font-size: 10px;
        margin: 6px !important;
        padding: 2px 14px;
    }

    div.CalendarEvent-downloaded-aVyLe {
        background: linear-gradient(90deg, var(--icon-green) 1px, var(--grey-1) 13px, var(--grey-1) calc(100% - 13px), var(--icon-green) 100%);
        border-color: var(--icon-green);
    }

    div.CalendarEvent-missing-Lfb1c {
        background: linear-gradient(90deg, var(--icon-red) 1px, var(--grey-1) 13px, var(--grey-1) calc(100% - 13px), var(--icon-red) 100%);
        border-color: var(--icon-red);
    }

    div.CalendarEvent-unaired-qLVRa {
        background: linear-gradient(90deg, var(--icon-blue) 1px, var(--grey-1) 13px, var(--grey-1) calc(100% - 13px), var(--icon-blue) 100%);
        border-color: var(--icon-blue);
    }

    div.CalendarEvent-downloading-chGem {
        background: linear-gradient(90deg, var(--icon-purple) 1px, var(--grey-1) 13px, var(--grey-1) calc(100% - 13px), var(--icon-purple) 100%);
        border-color: var(--icon-purple);
    }

    div.CalendarEvent-unmonitored-vL9TJ {
        background: linear-gradient(90deg, var(--icon-grey) 1px, var(--grey-1) 13px, var(--grey-1) calc(100% - 13px), var(--icon-grey) 100%);
        border-color: var(--icon-grey);
    }

    div.CalendarEvent-onAir-L0ij_ {
        background: linear-gradient(90deg, var(--icon-orange) 1px, var(--grey-1) 13px, var(--grey-1) calc(100% - 13px), var(--icon-orange)100%);
        border-color: var(--icon-orange);
    }

    div.LegendIconItem-legendIconItem-HRUQm {
        background: linear-gradient(90deg, var(--icon-white) 1px, var(--grey-1) 13px, var(--grey-1) calc(100% - 13px), var(--icon-white) 100%);
        border-color: var(--grey-2);
    }
/*}*/